/* codigo raiz*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}
:root {
    --color-principal: #FF5714;
    --color-secundario: #392E2D;
    --color-fondo: #EAE5D9; 
}

body {
    background: var(--color-fondo);
}

/* Precarga */
#precarga {
    background: #202030a6 url(/imgs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* sección diseño de barra de navegación*/
section {
    padding: 50px 10%;
}
img {
    width: 100%;
}
*::selection {
    color: #fff;
    background: var(--color-principal);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    transition: 0.2s;
}
.logo {
    display: flex;
    align-items: center;
    font-family: 'Wendy One', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-secundario);
}
.logo img {
    width: 35px;
    margin-right: 10px;
}
.barra-nav {
    display: flex;
}
.barra-nav a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--color-secundario);
    font-weight: 500;
}
.barra-nav a:hover {
    color: #fff;
    background: var(--color-principal);
    border-radius: 5px;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
#carrito-icono {
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: var(--color-secundario);
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
#carrito-icono i {
    font-size: 25px; 
    margin-right: 5px;
}
#carrito-numero {
    background: var(--color-principal);
    color: var(--color-fondo);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    top: -13px;
    right: -13px;
}
.iconos-usuario {
    display: flex;
    align-items: center;
}
header.sticky {
    background: #f7d800;
    box-shadow:  0 0 4px rgb(14 55 54 / 15%);
}
header.sticky .logo {
    color: #fff;
}
header.sticky .barra-nav a {
    color: #fff;
}
header.sticky .barra-nav a:hover {
    background: var(--color-secundario);
}
/* menu de navegacion responsivo*/
@media (max-width: 1100px) {
    body {
        background: var(--color-fondo);
    }
    .inicio-texto h1 {
        font-size: 3rem;
    }
}
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}
@media (max-width: 480px) {
    header {
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header.sticky #menu-icon {
        color: #fff;
    }
    header .barra-nav {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #f7d800;
        box-shadow: 0 4px 4px rgb(14 55 54 / 15%);
        transition: 0.2s;
        text-align: right;
    }
    .barra-nav.sticky {
        top: 100%;
    }
    .barra-nav a {
        padding: 1.5rem;
        display: block;
        color: #fff;
    }
}

/* Estilo para el icono de usuario y el menú desplegable */
.menu-sesion {
    position: relative;
    margin-left: 20px;
}
.menu-sesion i {
    font-size: 25px;
    color: var(--color-secundario);
    cursor: pointer;
}
.desplegable i {
    font-size: 19px;
    margin-right: 5px;
    color: var(--color-secundario);
}
.menu-sesion .desplegable {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}
.menu-sesion .desplegable li {
    list-style: none;
    border-bottom: 1px solid #ccc;
}
.menu-sesion .desplegable li:last-child {
    border-bottom: none;
}
.menu-sesion .desplegable a {
    display: block;
    padding: 10px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--color-secundario);
    text-decoration: none;
    transition: all ease 0.3s;
}
.menu-sesion .desplegable a:hover {
    background: var(--color-principal);
    color: #fff;
}
/* responsivo menu desplegable */
@media (max-width: 768px) {
    .menu-sesion {
        margin-left: 10px;
    }
}

/* Estilo para los botones flotantes */
.botones-flotantes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse; /* Muestra los botones en orden inverso */
    gap: 10px;
    z-index: 1000;
}
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: var(--color-principal);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff; 
    font-size: 29px;
}
.boton:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.boton-pedidos {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-principal);
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 17px;
    transition: transform 0.3s ease;
} 
.boton-pedidos i {
    font-size: 20px;
    margin-right: 8px;
}
.boton-pedidos:hover {
    transform: scale(1.05);
}
.cantidad-pedidos {
    font-weight: bold;
    margin-right: 5px;
}
.boton-whatsapp {
    background: #25D366;
    margin-left: 170px;
}
.boton-juego-pizzas {
    background: #f7d800; 
    margin-left: 170px;
}
.boton-reserva-sillas {
    background: #392E2D; 
    margin-left: 170px;
}
/* Responsivo boton flotante */
@media (max-width: 768px) {
    .botones-flotantes {
      bottom: 15px;
      right: 15px;
      gap: 8px;
    }
    .boton {
      width: 50px;
      height: 50px;
      font-size: 24px;
    }
    .boton-whatsapp, 
    .boton-juego-pizzas,
    .boton-reserva-sillas {
        margin-left: 200px;
    }
    .boton-pedidos {
        display: none;
    }
}

/* Estilos del carrito de compras*/
.fondo-carrito {
    background: url(/imgs/fondo-tienda-completa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carrito-compras {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 39px;
    justify-content: space-between;
}
.contenido-carrito {
    flex-grow: 2;
}
h2 {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-principal);
    margin-bottom: 23px;
}
.items-carrito .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f2d2b4;
    margin-bottom: 15px;
    border-radius: 8px;
}
.items-carrito .item img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
.detalles-item h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 19px;
    color: var(--color-secundario);
    margin-bottom: 5px;
}
.cantidad {
    display: flex;
    align-items: center;
}
.cantidad button {
    padding: 5px 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.cantidad input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
    border: none;
    background: #fff;
}
.eliminar i {
    font-size: 24px;
    color: #000;
    cursor: pointer;
}
.resumen-compra {
    background: #f2d2b4;
    padding: 20px;
    border-radius: 7px;
    width: 300px;
}
.resumen-compra h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 10px;
}
span, .p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    font-weight: 500;
}
.confirmar, .aplicar {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    padding: 11px;
    border: none;
    background: var(--color-principal);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
}
.confirmar:hover {
    letter-spacing: 2px;
    background: var(--color-secundario);
    color: var(--color-fondo);
    font-weight: 700;  
}
.aplicar:hover {
    letter-spacing: 2px;
    background: var(--color-secundario);
    color: var(--color-fondo);
    font-weight: 700;  
}
/* Estilos responsivo del carrito  */
@media (max-width: 768px) {
    .carrito-compras {
        flex-direction: column;
    }
    .contenido-carrito {
        width: 100%;
    }
    .resumen-compra {
        width: 100%;
    }
    .items-carrito .item img {
        width: 50px;
        height: 50px;
    }
    /* Aumentar el espacio arriba y abajo */
    .items-carrito .item {
        position: relative;
        padding: 21px 11px; 
        margin-bottom: 15px; 
    }
    .items-carrito .item .eliminar {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
@media (max-width: 480px) {
    h2 {
        font-size: 33px;
    }
    .items-carrito .item {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 21px 11px; 
        margin-bottom: 15px; 
    }
    .cantidad input {
        width: 25px;
    }
    .resumen-compra {
        width: 100%;
        padding: 15px;
    }
    .items-carrito .item .eliminar {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .resumen-compra {
        padding: 21px 11px;
    }
}

/* sección diseño de copyright*/
.contacto {
    align-items: center;
    background: url(/imgs/fondo-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.contacto-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
.contacto-info {
    flex: 1 1 20rem;
}
.contacto-form {
    flex: 1 1 20rem;
    display: flex;
    justify-content: center; 
}
.contacto-info h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.7rem;
    color: var(--color-principal);
}
.contacto-info p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin: 0.5rem 0 1rem;
}
.direccion {
    display: flex;
    flex-direction: column;
}
.direccion i {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 21px;
}
.direccion span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 1rem;
}
.red-social {
    margin-top: 1rem;
}
.red-social a {
    font-size: 25px;
    color: var(--color-principal);
    margin-right: 1rem;
}
.red-social a:hover {
    color: var(--color-secundario);
}
.contacto-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
form input, 
textarea {
    width: 100%;
    padding: 17px;
    border-radius: 0.5rem;
    outline:  none;
    margin-bottom: 1rem;
    border: 2px solid var(--color-principal);
    box-shadow: 0 4px 4px 2px rgb(14 55 54 / 15%);
}
form input::placeholder, 
textarea::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--color-principal);
}
form textarea {
    resize: none;
    height: 150px;
}
form .btn {
    max-width: 100px;
    background: linear-gradient(to left top, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* sección diseño de copyright*/
.pie-de-pagina {
    background: var(--color-secundario);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}
.contenedor-pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.logo-pie {
    flex: 1 1 100px;
    max-width: 150px;
    text-align: left;
    margin-right: 100px;
}
.logo-pie p {
    margin-top: 10px;
    line-height: 1.5;
}
.iconos-sociales-pie {
    margin-top: 20px;
}
.icono-social {
    display: inline-block;
    margin-right: 10px;
    font-size: 21px; 
    color: #fff; 
}
.icono-social:hover {
    color: var(--color-principal); 
}
.enlaces-pie {
    flex: 1 1 200px;
    margin-top: 20px;
    text-align: left;
}
.enlaces-pie h4 {
    margin-bottom: 10px;
}
.enlaces-pie ul {
    list-style: none;
    padding: 0;
}
.enlaces-pie ul li {
    margin-bottom: 10px;
}
.enlaces-pie ul li a {
    color: #fff;
    text-decoration: none;
}
.enlaces-pie ul li a:hover {
    text-decoration: underline var(--color-principal);
}
.instagram-pie {
    flex: 1 1 300px;
    margin-top: 20px;
    text-align: left;
}
.galeria-instagram {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.galeria-instagram img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.fondo-pie {
    margin-top: 40px;
    border-top: 1px solid #444;
    padding-top: 20px;
}
.fondo-pie p {
    margin: 0;
    color: #bbb;
}
/* diseño responsivo footer*/
@media (max-width: 1024px) {
    .contacto-contenedor {
        flex-direction: column; 
        align-items: center;
    }
    .contacto-info, 
    .contacto-form {
        max-width: 100%; 
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px) {
    .contacto-contenedor {
        flex-direction: column; 
        align-items: center;
        margin: 0.5rem; 
    }
    .contacto-info, 
    .contacto-form {
        max-width: 100%; 
        margin-bottom: 1rem;
    }
    .contacto-info h2 {
        font-size: 1.5rem; 
        text-align: center;
    }
    .direccion i {
        font-size: 18px; 
    }
    .direccion span {
        font-size: 0.9rem; 
        margin-left: 0.5rem; 
    }
    .contenedor-pie {
        flex-direction: column; 
        text-align: center; 
    }
    .logo-pie {
        margin-right: 0; 
        margin-bottom: 1rem; 
    }
    .enlaces-pie, 
    .instagram-pie {
        margin-top: 0; 
        margin-bottom: 1rem; 
    }
    .galeria-instagram {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px;
    }
}
