/* codigo raiz*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}
:root {
    --color-principal: #FF5714;
    --color-secundario: #392E2D;
    --color-fondo: #EAE5D9; 
}

body {
    background: var(--color-fondo);
}

/* Precarga */
#precarga {
    background: #202030a6 url(/imgs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* sección diseño de barra de navegación*/
section {
    padding: 50px 10%;
}
img {
    width: 100%;
}
*::selection {
    color: #fff;
    background: var(--color-principal);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    transition: 0.2s;
}
.logo {
    display: flex;
    align-items: center;
    font-family: 'Wendy One', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-secundario);
}
.logo img {
    width: 35px;
    margin-right: 10px;
}
.barra-nav {
    display: flex;
}
.barra-nav a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--color-secundario);
    font-weight: 500;
}
.barra-nav a:hover {
    color: #fff;
    background: var(--color-principal);
    border-radius: 5px;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
#carrito-icono {
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: var(--color-secundario);
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
#carrito-icono i {
    font-size: 25px; 
    margin-right: 5px;
}
#carrito-numero {
    background: var(--color-principal);
    color: var(--color-fondo);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    top: -13px;
    right: -13px;
}
header.sticky {
    background: #f7d800;
    box-shadow:  0 0 4px rgb(14 55 54 / 15%);
}
header.sticky .logo {
    color: #fff;
}
header.sticky .barra-nav a {
    color: #fff;
}
header.sticky .barra-nav a:hover {
    background: var(--color-secundario);
}
/* portada responsiva*/
@media (max-width: 1100px) {
    body {
        background: var(--color-fondo);
    }
    .inicio-texto h1 {
        font-size: 3rem;
    }
}
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}
@media (max-width: 480px) {
    header {
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header.sticky #menu-icon {
        color: #fff;
    }
    header .barra-nav {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #f7d800;
        box-shadow: 0 4px 4px rgb(14 55 54 / 15%);
        transition: 0.2s;
        text-align: right;
    }
    .barra-nav.sticky {
        top: 100%;
    }
    .barra-nav a {
        padding: 1.5rem;
        display: block;
        color: #fff;
    }
}

/* sección diseño de contacto*/
.contacto-pizzaroo {
    padding: 50px 20px;
    align-items: center;
    background: url(/imgs/fondo-detalles-pizzas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.contenedor-contacto {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 4.5rem;
    text-align: center;
}
.titulo-contacto {
    font-family: 'Righteous', sans-serif; 
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-principal);
}
.subtitulo-contacto {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    margin-bottom: 40px;
    color: var(--color-secundario); 
}
.formulario-contacto {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.campo {
    flex: 1;
    min-width: 48%;
    margin-bottom: 20px;
}
.campo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-principal);
}
.campo input,
.campo textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--color-principal); 
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-shadow: 0 4px 4px 2px rgb(14 55 54 / 15%); 
}
.campo textarea {
    resize: vertical;
}
.boton-enviar {
    background: linear-gradient(to left top, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a); /* Aplicado gradiente */
    width: 100%;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.boton-enviar:hover {
    background: linear-gradient(to right bottom, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a); /* Gradiente al hover */
}
.informacion-contacto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
.informacion-item {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}
.informacion-item h3 {
    font-size: 18px;
    color: var(--color-principal); 
    margin-bottom: 10px;
}
.informacion-item p {
    font-size: 17px;
    color: #555;
}
.informacion-item a {
    color: var(--color-principal); 
    text-decoration: none;
}
.informacion-item a:hover {
    color: var(--color-secundario); 
}
/* formulario responsiva*/
@media (max-width: 768px) {
    .titulo-contacto {
        font-size: 2.9em;
    }
    .subtitulo-contacto {
        font-size: 19px;
    }
    .fila {
        flex-direction: column;
    }
    .campo {
        min-width: 100%;
    }
    .informacion-contacto {
        flex-direction: column;
        text-align: center;
    }
    .informacion-item {
        margin-bottom: 20px;
    }
}

/* sección diseño de copyright*/
.pie-de-pagina {
    background: var(--color-secundario);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}
.contenedor-pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.logo-pie {
    flex: 1 1 100px;
    max-width: 150px;
    text-align: left;
    margin-right: 100px;
}
.logo-pie p {
    margin-top: 10px;
    line-height: 1.5;
}
.iconos-sociales-pie {
    margin-top: 20px;
}
.icono-social {
    display: inline-block;
    margin-right: 10px;
    font-size: 21px; 
    color: #fff; 
}
.icono-social:hover {
    color: var(--color-principal); 
}
.enlaces-pie {
    flex: 1 1 200px;
    margin-top: 20px;
    text-align: left;
}
.enlaces-pie h4 {
    margin-bottom: 10px;
}
.enlaces-pie ul {
    list-style: none;
    padding: 0;
}
.enlaces-pie ul li {
    margin-bottom: 10px;
}
.enlaces-pie ul li a {
    color: #fff;
    text-decoration: none;
}
.enlaces-pie ul li a:hover {
    text-decoration: underline var(--color-principal);
}
.instagram-pie {
    flex: 1 1 300px;
    margin-top: 20px;
    text-align: left;
}
.galeria-instagram {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.galeria-instagram img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.fondo-pie {
    margin-top: 40px;
    border-top: 1px solid #444;
    padding-top: 20px;
}
.fondo-pie p {
    margin: 0;
    color: #bbb;
}
/* diseño responsivo footer*/
@media (max-width: 1024px) {
    .contacto-contenedor {
        flex-direction: column; 
        align-items: center;
    }
    .contacto-info, 
    .contacto-form {
        max-width: 100%; 
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px) {
    .contacto-contenedor {
        flex-direction: column; 
        align-items: center;
        margin: 0.5rem; 
    }
    .contacto-info, 
    .contacto-form {
        max-width: 100%; 
        margin-bottom: 1rem;
    }
    .contacto-info h2 {
        font-size: 1.5rem; 
        text-align: center;
    }
    .direccion i {
        font-size: 18px; 
    }
    .direccion span {
        font-size: 0.9rem; 
        margin-left: 0.5rem; 
    }
    .contenedor-pie {
        flex-direction: column; 
        text-align: center; 
    }
    .logo-pie {
        margin-right: 0; 
        margin-bottom: 1rem; 
    }
    .enlaces-pie, 
    .instagram-pie {
        margin-top: 0; 
        margin-bottom: 1rem; 
    }
    .galeria-instagram {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px;
    }
}


