/* codigo raiz*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}
:root {
    --color-principal: #FF5714;
    --color-secundario: #392E2D;
    --color-fondo: #EAE5D9; 
}

body {
    background: var(--color-fondo);
}

/* Precarga */
#precarga {
    background: #202030a6 url(/imgs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* sección diseño de barra de navegación*/
section {
    padding: 50px 10%;
}
img {
    width: 100%;
}
*::selection {
    color: #fff;
    background: var(--color-principal);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    transition: 0.2s;
}
.logo {
    display: flex;
    align-items: center;
    font-family: 'Wendy One', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-secundario);
}
.logo img {
    width: 35px;
    margin-right: 10px;
}
.barra-nav {
    display: flex;
}
.barra-nav a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--color-secundario);
    font-weight: 500;
}
.barra-nav a:hover {
    color: #fff;
    background: var(--color-principal);
    border-radius: 5px;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
#carrito-icono {
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: var(--color-secundario);
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
#carrito-icono i {
    font-size: 25px; 
    margin-right: 5px;
}
#carrito-numero {
    background: var(--color-principal);
    color: var(--color-fondo);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    top: -13px;
    right: -13px;
}
.iconos-usuario {
    display: flex;
    align-items: center;
}
header.sticky {
    background: #f7d800;
    box-shadow:  0 0 4px rgb(14 55 54 / 15%);
}
header.sticky .logo {
    color: #fff;
}
header.sticky .barra-nav a {
    color: #fff;
}
header.sticky .barra-nav a:hover {
    background: var(--color-secundario);
}
/* menu de navegacion responsivo*/
@media (max-width: 1100px) {
    body {
        background: var(--color-fondo);
    }
    .inicio-texto h1 {
        font-size: 3rem;
    }
}
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}
@media (max-width: 480px) {
    header {
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header.sticky #menu-icon {
        color: #fff;
    }
    header .barra-nav {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #f7d800;
        box-shadow: 0 4px 4px rgb(14 55 54 / 15%);
        transition: 0.2s;
        text-align: right;
    }
    .barra-nav.sticky {
        top: 100%;
    }
    .barra-nav a {
        padding: 1.5rem;
        display: block;
        color: #fff;
    }
}

/* Estilo para el icono de usuario y el menú desplegable */
.menu-sesion {
    position: relative;
    margin-left: 20px;
}
.menu-sesion i {
    font-size: 25px;
    color: var(--color-secundario);
    cursor: pointer;
}
.desplegable i {
    font-size: 19px;
    margin-right: 5px;
    color: var(--color-secundario);
}
.menu-sesion .desplegable {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}
.menu-sesion .desplegable li {
    list-style: none;
    border-bottom: 1px solid #ccc;
}
.menu-sesion .desplegable li:last-child {
    border-bottom: none;
}
.menu-sesion .desplegable a {
    display: block;
    padding: 10px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--color-secundario);
    text-decoration: none;
    transition: all ease 0.3s;
}
.menu-sesion .desplegable a:hover {
    background: var(--color-principal);
    color: #fff;
}
/* responsivo menu desplegable */
@media (max-width: 768px) {
    .menu-sesion {
        margin-left: 10px;
    }
}

/* Estilo para los botones flotantes */
.botones-flotantes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse; /* Muestra los botones en orden inverso */
    gap: 10px;
    z-index: 1000;
}
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: var(--color-principal);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff; 
    font-size: 29px;
}
.boton:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.boton-pedidos {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-principal);
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 17px;
    transition: transform 0.3s ease;
} 
.boton-pedidos i {
    font-size: 20px;
    margin-right: 8px;
}
.boton-pedidos:hover {
    transform: scale(1.05);
}
.cantidad-pedidos {
    font-weight: bold;
    margin-right: 5px;
}
.boton-whatsapp {
    background: #25D366;
    margin-left: 170px;
}
.boton-juego-pizzas {
    background: #f7d800; 
    margin-left: 170px;
}
.boton-reserva-sillas {
    background: #392E2D; 
    margin-left: 170px;
}
/* Responsivo boton flotante */
@media (max-width: 768px) {
    .botones-flotantes {
      bottom: 15px;
      right: 15px;
      gap: 8px;
    }
    .boton {
      width: 50px;
      height: 50px;
      font-size: 24px;
    }
    .boton-whatsapp, 
    .boton-juego-pizzas,
    .boton-reserva-sillas {
        margin-left: 200px;
    }
    .boton-pedidos {
        display: none;
    }
}

/* sección diseño de menu video*/
.pizzaron-menu-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: -30px;
}
.contenedor-video {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.texto-superpuesto {
    position: relative;
    z-index: 3;
    color: var(--color-fondo);
    text-align: center;
}
.texto-superpuesto h1 {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--color-fondo);
    margin: 0;
}
/* Estilos para los elementos del menú */
.elementos-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    z-index: 4;
}
.elemento-menu {
    text-align: center;
    margin: 20px;
    max-width: 300px;
}
.elemento-menu i {
    font-size: 3rem;
    color: var(--color-principal);
    margin-bottom: 10px;
}
.elemento-menu h3 {
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.elemento-menu p {
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
}
/* Responsive para tablets */
@media (max-width: 768px) {
    .contenedor-video {
        height: 100vh;
    }
    video {
        object-fit: cover; 
        height: 100%;
        width: 100%;
    }
    .texto-superpuesto h1 {
        font-size: 2.5rem;
    }
    .elementos-menu {
      flex-direction: column;
    }
    .elemento-menu {
      max-width: 100%;
    }
}
  
/* Responsive para móviles */
@media (max-width: 480px) {
    .contenedor-video {
        height: 100vh;
    }
    video {
        object-fit: cover; 
        height: 100%;
        width: 100%;
    }
    .texto-superpuesto h1 {
      font-size: 2.5rem;
    }
    .elemento-menu h3 {
      font-size: 1.3rem;
    }
    .elemento-menu p {
      font-size: 1.1rem;
    }
  }
  
/* sección diseño de tienda*/
.tienda {
    align-items: center;
    background: url(/imgs/fondo-tienda-completa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
}
.encabezado {
    text-align: center;
}
.encabezado h2 {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-principal);
    margin-bottom: 0.9rem;
}
.encabezado p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;  
}
.tienda-contenedor,
.clientes-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.cj-tienda {
    position: relative;
    flex:  1 1 17rem;
    background: #CCC1AA;
    box-shadow: 0 7px 7px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    height: auto;
}
.rating-contenedor {
    position: absolute;
    top: 10px; 
    left: 10px; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff; 
}
.rating-contenedor i {
    margin-right: 5px; 
}
.ri-star-fill {
    font-size: 20px; 
}
.rating-texto {
    font-size: 15px; 
}
.corazon-icono {
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: red;
    font-size: 21px; 
}
.corazon-icono .bx {
    font-size: 27px;
    color: #fff;
}
.tienda-img {
    width: 100%;
    height: 300px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.tienda-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.tienda-img img:hover {
    transition: 0.5s;
}
.corazon-icono {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.corazon-icono i {
    font-size: 24px;
    color: #ccc;
    transition: color 0.3s;
}
.corazon-icono i.liked {
    color: red;
}
.cj-tienda h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-principal);
    letter-spacing: 1px;
    padding: 10px;
}
.ver-detalles {
    background: #f7d800;
    color: var(--color-secundario);
    border: none;
    padding: 9px 15px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 41px;
    margin-left: 9px; 
}
.ver-detalles:hover {
    letter-spacing: 2px;
    background: var(--color-secundario);
    color: var(--color-fondo);
    font-weight: 700; 
}
.cj-tienda h3 {
    font-family: 'Righteous', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-secundario);
    padding: 10px;
}
.cj-tienda .bxs-cart-add {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 21px;
    padding: 10px;
    color: #fff;
    background: var(--color-principal);
    border-radius:  5px 0 5px 0;
    cursor: pointer;
}
.cj-tienda .bxs-cart-add:hover {
    background: var(--color-secundario);
}
/* diseño responsivo nosotros*/
@media (max-width: 768px) {
    .tienda {
        background: none;
    }
}

/* sección diseño de clientes*/
.clientes {
    align-items: center;
    background: url(/imgs/fondo-testimonio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.clientes-contenedor .caja {
    flex: 1 1 16rem;
    text-align: center;
    background: url(/imgs/fondo-clientes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    box-shadow: 0 7px 7px rgb(14 55 54 / 15%);
    padding: 20px;
    border-radius: 0.5rem;
}
.caja img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-principal);
}
.caja .bx {
    color: var(--color-principal);
    margin-top: 0.5rem;
}
.caja p {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0.5rem 0 1rem;
}
.caja h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--color-principal);
    letter-spacing: 1px;
}

/* sección diseño de copyright*/
.pie-de-pagina {
    background: var(--color-secundario);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}
.contenedor-pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.logo-pie {
    flex: 1 1 100px;
    max-width: 150px;
    text-align: left;
    margin-right: 100px;
}
.logo-pie p {
    margin-top: 10px;
    line-height: 1.5;
}
.iconos-sociales-pie {
    margin-top: 20px;
}
.icono-social {
    display: inline-block;
    margin-right: 10px;
    font-size: 21px; 
    color: #fff; 
}
.icono-social:hover {
    color: var(--color-principal); 
}
.enlaces-pie {
    flex: 1 1 200px;
    margin-top: 20px;
    text-align: left;
}
.enlaces-pie h4 {
    margin-bottom: 10px;
}
.enlaces-pie ul {
    list-style: none;
    padding: 0;
}
.enlaces-pie ul li {
    margin-bottom: 10px;
}
.enlaces-pie ul li a {
    color: #fff;
    text-decoration: none;
}
.enlaces-pie ul li a:hover {
    text-decoration: underline var(--color-principal);
}
.instagram-pie {
    flex: 1 1 300px;
    margin-top: 20px;
    text-align: left;
}
.galeria-instagram {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.galeria-instagram img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.fondo-pie {
    margin-top: 40px;
    border-top: 1px solid #444;
    padding-top: 20px;
}
.fondo-pie p {
    margin: 0;
    color: #bbb;
}
/* diseño responsivo footer*/
@media (max-width: 1024px) {
    .contacto-contenedor {
        flex-direction: column; 
        align-items: center;
    }
    .contacto-info, 
    .contacto-form {
        max-width: 100%; 
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px) {
    .contacto-contenedor {
        flex-direction: column; 
        align-items: center;
        margin: 0.5rem; 
    }
    .contacto-info, 
    .contacto-form {
        max-width: 100%; 
        margin-bottom: 1rem;
    }
    .contacto-info h2 {
        font-size: 1.5rem; 
        text-align: center;
    }
    .direccion i {
        font-size: 18px; 
    }
    .direccion span {
        font-size: 0.9rem; 
        margin-left: 0.5rem; 
    }
    .contenedor-pie {
        flex-direction: column; 
        text-align: center; 
    }
    .logo-pie {
        margin-right: 0; 
        margin-bottom: 1rem; 
    }
    .enlaces-pie, 
    .instagram-pie {
        margin-top: 0; 
        margin-bottom: 1rem; 
    }
    .galeria-instagram {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px;
    }
}
