/* codigo raiz*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}
:root {
    --color-principal: #FF5714;
    --color-secundario: #392E2D;
    --color-fondo: #EAE5D9; 
}

body {
    background: var(--color-fondo);
}

/* Precarga */
#precarga {
    background: #202030a6 url(/imgs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* sección diseño de barra de navegación*/
section {
    padding: 50px 10%;
}
img {
    width: 100%;
}
*::selection {
    color: #fff;
    background: var(--color-principal);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    transition: 0.2s;
}
.logo {
    display: flex;
    align-items: center;
    font-family: 'Wendy One', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-secundario);
}
.logo img {
    width: 35px;
    margin-right: 10px;
}
.barra-nav {
    display: flex;
}
.barra-nav a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--color-secundario);
    font-weight: 500;
}
.barra-nav a:hover {
    color: #fff;
    background: var(--color-principal);
    border-radius: 5px;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
#carrito-icono {
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: var(--color-secundario);
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.iconos-usuario {
    display: flex;
    align-items: center;
}
#carrito-icono i {
    font-size: 25px; 
    margin-right: 5px;
}
#carrito-numero {
    background: var(--color-principal);
    color: var(--color-fondo);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    top: -13px;
    right: -13px;
}
header.sticky {
    background: #f7d800;
    box-shadow:  0 0 4px rgb(14 55 54 / 15%);
}
header.sticky .logo {
    color: #fff;
}
header.sticky .barra-nav a {
    color: #fff;
}
header.sticky .barra-nav a:hover {
    background: var(--color-secundario);
}

/* Estilo para el icono de usuario y el menú desplegable */
.menu-sesion {
    position: relative;
    margin-left: 20px;
}
.menu-sesion i {
    font-size: 25px;
    color: var(--color-secundario);
    cursor: pointer;
}
.desplegable i {
    font-size: 19px;
    margin-right: 5px;
    color: var(--color-secundario);
}
.menu-sesion .desplegable {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}
.menu-sesion .desplegable li {
    list-style: none;
    border-bottom: 1px solid #ccc;
}
.menu-sesion .desplegable li:last-child {
    border-bottom: none;
}
.menu-sesion .desplegable a {
    display: block;
    padding: 10px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--color-secundario);
    text-decoration: none;
    transition: all ease 0.3s;
}
.menu-sesion .desplegable a:hover {
    background: var(--color-principal);
    color: #fff;
}
/* responsivo menu desplegable */
@media (max-width: 768px) {
    .menu-sesion {
        margin-left: 10px;
    }
}

/* sección diseño de inicio*/
.inicio {
    width: 100%;
    min-height: 105vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(/imgs/fondo-portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    gap: 1rem;
}
.inicio-texto {
    flex: 1 1 17rem;
}
.inicio-img {
    flex: 1 1 17rem;
}
.inicio-texto span {
    font-size: 23px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-secundario);
}
.inicio-texto h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--color-principal);
}
.inicio-texto p {
    margin: 0.5rem 0 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 45px;
}
.btn {
    font-family: 'Nunito Sans', sans-serif;
    padding: 15px 25px;
    background: linear-gradient(to left top, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
    color: #fff;
    border-radius: 41px;
    font-weight: 700;
}
.btn:hover {
    letter-spacing: 2px;
    background: linear-gradient(to right bottom, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
    color: var(--color-fondo);
    font-weight: 700;  
}
.contadores {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    margin: 21px 0; 
    position: absolute;
    bottom: 10px; 
    margin-left: 233px;
}
.contador {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--color-secundario);
}
.numero {
    font-size: 1.3rem;
    font-weight: bold;
    width: 70px;
    height: 70px;
    border: 5px solid var(--color-principal);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.7); /* Fondo transparente */
}
.flotar {
    width: 100%;
    animation: float 4s infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
/* portada responsiva*/
@media (max-width: 1100px) {
    body {
        background: var(--color-fondo);
    }
    .inicio-texto h1 {
        font-size: 3rem;
    }
}
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}
@media (max-width: 480px) {
    header {
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header.sticky #menu-icon {
        color: #fff;
    }
    header .barra-nav {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #f7d800;
        box-shadow: 0 4px 4px rgb(14 55 54 / 15%);
        transition: 0.2s;
        text-align: right;
    }
    .barra-nav.sticky {
        top: 100%;
    }
    .barra-nav a {
        padding: 1.5rem;
        display: block;
        color: #fff;
    }
    .inicio {
        background: var(--color-fondo);
    }
    .inicio-texto span {
        font-size: initial;
    }
    .inicio-texto h1 {
        font-size: 2.5rem;
    }
    .inicio-texto p {
        font-size: 1rem;
    }
    .contadores {
        position: static; 
        margin: 21px 0; 
        display: flex;
        justify-content: space-around;
        max-width: 600px;
        margin: 0 auto; 
        margin-top: -23px; 
    }
    .contador {
        font-size: 0.8rem; 
    }
    .numero {
        font-size: 1rem; 
        width: 50px; 
        height: 50px;
        border-width: 3px; 
    }
    .ofertas h1 {
        font-size: 2rem;
        text-align: center;
    }
    .encabezado h2 {
        font-size: 1.6rem;
    }
    .contacto {
        background: var(--color-fondo);
    }
    .contacto-info h2 {
        font-size: 1.6rem;
    }
}
@media (max-width: 360px) {
    .inicio-texto span {
        font-size: 0.8rem;
        
    }
    .inicio-texto h2 {
        font-size: 2rem;
    }
    .inicio-texto p {
        font-size: 0.8rem;
    }
}

/* Estilo para los botones flotantes */
.botones-flotantes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse; /* Muestra los botones en orden inverso */
    gap: 10px;
    z-index: 1000;
}
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: var(--color-principal);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff; 
    font-size: 29px;
}
.boton:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.boton-pedidos {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-principal);
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 17px;
    transition: transform 0.3s ease;
} 
.boton-pedidos i {
    font-size: 20px;
    margin-right: 8px;
}
.boton-pedidos:hover {
    transform: scale(1.05);
}
.cantidad-pedidos {
    font-weight: bold;
    margin-right: 5px;
}
.boton-whatsapp {
    background: #25D366;
    margin-left: 170px;
}
.boton-juego-pizzas {
    background: #f7d800; 
    margin-left: 170px;
}
.boton-reserva-sillas {
    background: #392E2D; 
    margin-left: 170px;
}
/* Responsivo boton flotante */
@media (max-width: 768px) {
    .botones-flotantes {
      bottom: 15px;
      right: 15px;
      gap: 8px;
    }
    .boton {
      width: 50px;
      height: 50px;
      font-size: 24px;
    }
    .boton-whatsapp, 
    .boton-juego-pizzas,
    .boton-reserva-sillas {
        margin-left: 200px;
    }
    .boton-pedidos {
        display: none;
    }
}
  
/* sección diseño de ofertas*/
.ofertas {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(/imgs/fondo-ofertas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ofertas h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-principal);
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.ofertas-contenedor {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 11px;
    border-top: 6px solid var(--color-principal);
    padding: 20px;
    gap: 2rem;
}
.cj-img {
    width: 200px;
    height: 200px;
}
.cj-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}
.ofertas-cj {
    flex: 1 1 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ofertas-cj h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    color: var(--color-principal);
    letter-spacing: 1px;
}
.descuento {
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    background: #f7d800;
    padding: 2px 5px;
    border-radius: 5px;
}
.ofertas-cj h3 {
    font-size: 1,3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: var(--color-secundario);
    margin: 0 0 0.5rem;
    cursor: pointer;
}
.ofertas-cj h3:hover {
    color: var(--color-principal);
}

/* sección diseño de tienda*/
.tienda {
    align-items: center;
    background: url(/imgs/fondo-tienda.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
}
.encabezado {
    text-align: center;
}
.encabezado h2 {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-principal);
    margin-bottom: 0.9rem;
}
.encabezado p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;  
}
.tienda-contenedor,
.clientes-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.cj-tienda {
    position: relative;
    flex:  1 1 17rem;
    background: #CCC1AA;
    box-shadow: 0 7px 7px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    height: auto;
}
.rating-contenedor {
    position: absolute;
    top: 10px; 
    left: 10px; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff; 
}
.rating-contenedor i {
    margin-right: 5px; 
}
.ri-star-fill {
    font-size: 20px; 
}
.rating-texto {
    font-size: 15px; 
}
.corazon-icono {
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: red;
    font-size: 21px; 
}
.corazon-icono .bx {
    font-size: 27px;
    color: #fff;
}
.tienda-img {
    width: 100%;
    height: 300px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.tienda-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.tienda-img img:hover {
    transition: 0.5s;
}
.corazon-icono {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.corazon-icono i {
    font-size: 24px;
    color: #ccc;
    transition: color 0.3s;
}
.corazon-icono i.liked {
    color: red;
}
.cj-tienda h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-principal);
    letter-spacing: 1px;
    padding: 10px;
}
.ver-detalles {
    background: #f7d800;
    color: var(--color-secundario);
    border: none;
    padding: 9px 15px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 41px;
    margin-left: 9px; 
}
.ver-detalles:hover {
    letter-spacing: 2px;
    background: var(--color-secundario);
    color: var(--color-fondo);
    font-weight: 700; 
}
.cj-tienda h3 {
    font-family: 'Righteous', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-secundario);
    padding: 10px;
}
.cj-tienda .bxs-cart-add {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 21px;
    padding: 10px;
    color: #fff;
    background: var(--color-principal);
    border-radius:  5px 0 5px 0;
    cursor: pointer;
}
.cj-tienda .bxs-cart-add:hover {
    background: var(--color-secundario);
}
/* diseño responsivo tienda*/
@media (max-width: 768px) {
    .tienda {
        background: none;
    }
}

/* sección diseño de nosotros*/
.nosotros-pizzaroo {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.servicio-delivering {
    padding: 40px 20px;
    text-align: center;
}
.contenedor-nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.imagen-nosotros {
    flex: 1 1 300px;
    position: relative;
}
.img-nosotros {
    width: 100%;
    border-radius: 9px;
}
.info-visitanos {
    background: var(--color-secundario);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -25px;
    left: 165px;
    width: 80%;
    max-width: 300px;
}
.titulo-visitanos {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.info-visitanos-detalle {
    margin-bottom: 10px;
}
.icono-visitanos {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 1.2em;
}
.texto-nosotros {
    flex: 1 1 400px;
    padding: 20px;
}
.titulo-nosotros {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-principal);
    margin-bottom: 15px;
}
.descripcion-nosotros {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 21px;
    line-height: 1.6;
}
.boton-nosotros {
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    padding: 15px 25px;
    background: linear-gradient(to left top, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
    color: #fff;
    border-radius: 41px;
    font-weight: 700;
}
.boton-nosotros:hover {
    letter-spacing: 2px;
    background: linear-gradient(to right bottom, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
    color: var(--color-fondo);
    font-weight: 700;  
}
.boton-nosotros i {
    margin-left: 8px;
    font-size: 16px;
}
/* diseño responsivo nosotros*/
@media (max-width: 768px) {
    .contenedor-nosotros {
        flex-direction: column;
    }
    .info-visitanos {
        position: static;
        width: 100%;
        max-width: none;
        margin-top: 20px;
    }
}

/* sección diseño de clientes*/
.clientes {
    align-items: center;
    background: url(/imgs/fondo-testimonio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.clientes-contenedor .caja {
    flex: 1 1 16rem;
    text-align: center;
    background: url(/imgs/fondo-clientes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    box-shadow: 0 7px 7px rgb(14 55 54 / 15%);
    padding: 20px;
    border-radius: 0.5rem;
}
.caja img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-principal);
}
.caja .bx {
    color: var(--color-principal);
    margin-top: 0.5rem;
}
.caja p {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0.5rem 0 1rem;
}
.caja h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--color-principal);
    letter-spacing: 1px;
}

/* sección diseño de blog*/
.blog-pizzaroo {
    padding: 20px;
    margin: 0 auto; 
    max-width: 1200px; 
}
.blog-pizzaroo h2 {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-principal);
    margin-bottom: 20px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 23px;
}
.contenido h3 {
    font-family: 'Righteous', sans-serif;
    font-weight: 800;
    font-size: 23px;
    color: var(--color-secundario);
    margin-bottom: 13px;
}
.contenido p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 5px;
    color: #000;
}
.contenedor-articulos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.articulo-grande {
    flex: 1;
    background: #CCC1AA;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.articulo-grande:hover {
    cursor: pointer;
    transform: translateY(-7px);
    transition: all ease 0.5s;
}
.articulo-grande img {
    width: 100%;
    height: auto;
    display: block;
}
.articulo-grande .contenido {
    padding: 15px;
} 
.articulos-cuadrados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    flex: 1;
    flex-wrap: wrap;
}
.articulo-cuadrado {
    background: #CCC1AA;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.articulo-cuadrado:hover {
    cursor: pointer;
    transform: translateY(-7px);
    transition: all ease 0.5s;
}
.articulo-cuadrado img {
    width: 100%;
    height: auto;
    display: block;
}
.articulo-cuadrado .contenido {
    padding: 10px;
}
.articulo-cuadrado h3 {
    font-size: 19px;
    margin-bottom: 5px;
  }
.articulo-cuadrado p {
    font-size: 15px;
}
.boton-leer-articulo {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(to left top, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 5px;
    transition: 0.3s ease;
}
.boton-leer-articulo i {
    margin-left: 8px;
    font-size: 16px;
}
.boton-leer-articulo:hover {
    background: linear-gradient(to right bottom, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
}
/* responsivo blog */
@media (max-width: 768px) {
    .contenedor-articulos {
      flex-direction: column;
    }
    .articulo-grande {
      flex: 1;
    }
    .articulos-cuadrados {
      grid-template-columns: 1fr;
    }
}
@media (max-width: 480px) {
    .articulo-grande,
    .articulo-cuadrado {
      width: 100%;
    }
    .articulos-cuadrados {
      grid-template-columns: 1fr;
    }
}
  
/* sección diseño de servicio de delivering*/
.servicio-delivering {
    background: url(/imgs/fondo-delivering.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 40px 20px;
}
.contenedor-delivering {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.imagenes-delivering {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.imagen-delivering {
    flex: 1;
}
.img-delivering {
    width: 100%;
    border-radius: 10px;
}
.texto-delivering {
    flex: 1 1 400px;
    padding: 20px;
}
.titulo-delivering {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: left;
    color: var(--color-principal);
    margin-bottom: 15px;
}
.descripcion-delivering {
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}
.lista-servicios {
    list-style: none;
    padding: 0;
}
.item-servicio {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.icono-servicio {
    color: var(--color-principal);
    vertical-align: middle;
    margin-right: 10px;
    font-size: 1.5em;
}
/* diseño responsivo delivering*/
@media (max-width: 768px) {
    .contenedor-delivering {
        flex-direction: column;
    }
    .imagenes-delivering {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .imagen-delivering {
        flex: 1 1 45%;
        margin: 2.5%;
    }
}

/* Sección Reserva tu Silla */
.seccion-reserva {
    padding: 50px 20px;
    background: var(--color-fondo);
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
.reserva-contenido {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.reserva-imagen {
    flex: 1;
}
.reserva-imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.reserva-texto {
    flex: 1;
    text-align: center;
}
.reserva-texto h2 {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: left;
    color: var(--color-principal);
    margin-bottom: 15px;
}
.reserva-texto p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 21px;
    line-height: 1.6;
}
.boton-reserva {
    display: block; 
    text-align: left; 
    font-size: 15px;
    padding: 15px 25px;
    background: linear-gradient(to left top, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
    color: #fff;
    border-radius: 41px;
    font-weight: 700;
    width: fit-content; 
}
.boton-reserva i {
    margin-left: 7px;
    font-size: 17px;
    align-items: center;
}
.boton-reserva:hover {
    background: linear-gradient(to right bottom, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);;
}
.boton-reserva:hover span {
    margin-left: 15px;
}
.reserva-video {
    position: relative;
    width: 100%;
    max-width: 560px; 
    margin: 0 auto; 
}
.reserva-video video {
    width: 100%;
    height: auto;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border: 5px solid #ff8500; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}
.reserva-video video:hover {
    transform: scale(1.05); 
}
/* reserva tu silla responsivo */
@media (max-width: 768px) {
    .reserva-contenido {
        flex-direction: column;
        text-align: center;
    }
    .reserva-texto {
        text-align: center;
    }
}

/* sección diseño de contacto*/
.contacto {
    align-items: center;
    background: url(/imgs/fondo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.contacto-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
.contacto-info {
    flex: 1 1 20rem;
}
.contacto-form {
    flex: 1 1 20rem;
    display: flex;
    justify-content: center; 
}
.contacto-info h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.7rem;
    color: var(--color-principal);
}
.contacto-info p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin: 0.5rem 0 1rem;
}
.direccion {
    display: flex;
    flex-direction: column;
}
.direccion i {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 21px;
    color: var(--color-principal);
}
.direccion span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 1rem;
    color: #000;
}
.direccion span:hover {
    color: var(--color-principal);
    cursor: pointer;
}
.mapa {
    margin-top: 1rem;
}
.contacto-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
form input, 
textarea {
    width: 100%;
    padding: 17px;
    border-radius: 0.5rem;
    outline:  none;
    margin-bottom: 1rem;
    border: 2px solid var(--color-principal);
    box-shadow: 0 4px 4px 2px rgb(14 55 54 / 15%);
}
form input::placeholder, 
textarea::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--color-principal);
}
form textarea {
    resize: none;
    height: 150px;
}
form .btn {
    max-width: 100px;
    background: linear-gradient(to left top, #ff5714, #ff8500, #ffb000, #f7d800, #e4ff1a);
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* sección diseño de copyright*/
.pie-de-pagina {
    background: var(--color-secundario);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}
.contenedor-pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.logo-pie {
    flex: 1 1 100px;
    max-width: 150px;
    text-align: left;
    margin-right: 100px;
}
.logo-pie p {
    margin-top: 10px;
    line-height: 1.5;
}
.iconos-sociales-pie {
    margin-top: 20px;
}
.icono-social {
    display: inline-block;
    margin-right: 10px;
    font-size: 21px; 
    color: #fff; 
}
.icono-social:hover {
    color: var(--color-principal); 
}
.enlaces-pie {
    flex: 1 1 200px;
    margin-top: 20px;
    text-align: left;
}
.enlaces-pie h4 {
    margin-bottom: 10px;
}
.enlaces-pie ul {
    list-style: none;
    padding: 0;
}
.enlaces-pie ul li {
    margin-bottom: 10px;
}
.enlaces-pie ul li a {
    color: #fff;
    text-decoration: none;
}
.enlaces-pie ul li a:hover {
    text-decoration: underline var(--color-principal);
}
.instagram-pie {
    flex: 1 1 300px;
    margin-top: 20px;
    text-align: left;
}
.galeria-instagram {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.galeria-instagram img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.fondo-pie {
    margin-top: 40px;
    border-top: 1px solid #444;
    padding-top: 20px;
}
.fondo-pie p {
    margin: 0;
    color: #bbb;
}
/* diseño responsivo footer*/
@media (max-width: 1024px) {
    .contacto-contenedor {
        flex-direction: column; 
        align-items: center;
    }
    .contacto-info, 
    .contacto-form {
        max-width: 100%; 
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px) {
    .contacto-contenedor {
        flex-direction: column; 
        align-items: center;
        margin: 0.5rem; 
    }
    .contacto-info, 
    .contacto-form {
        max-width: 100%; 
        margin-bottom: 1rem;
    }
    .contacto-info h2 {
        font-size: 1.5rem; 
        text-align: center;
    }
    .direccion i {
        font-size: 18px; 
    }
    .direccion span {
        font-size: 0.9rem; 
        margin-left: 0.5rem; 
    }
    .contenedor-pie {
        flex-direction: column; 
        text-align: center; 
    }
    .logo-pie {
        margin-right: 0; 
        margin-bottom: 1rem; 
    }
    .enlaces-pie, 
    .instagram-pie {
        margin-top: 0; 
        margin-bottom: 1rem; 
    }
    .galeria-instagram {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px;
    }
}




